.market {
	margin-bottom: 120px;
	&__container {
		&-icon {
			width: 60px;
			height: 60px;
			min-width: 60px;
			min-height: 60px;
			background: var(--main-blue-color);
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__subtitle {
		margin: 0;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
		margin-bottom: 60px;
	}
	&__item {
		grid-column: 6 span;
		padding: 32px;
		border: 3px solid rgba(128, 136, 153, 0.1);
		border-radius: 20px;
		transition: box-shadow 0.25s;
		text-decoration: none;
		display: flex;
		gap: 20px;
		&:hover {
			box-shadow: 0px 64px 128px -5px rgba(17, 8, 0, 0.04), 0px 32px 64px -4px rgba(17, 8, 0, 0.04),
				0px 16px 32px -3px rgba(17, 8, 0, 0.04);
		}
	}
	&__button {
		margin: 0 auto;
	}
}

@media (max-width: 1024px) {
	.market {
		margin-bottom: 80px;
		&__subtitle {
			margin-bottom: 8px;
		}
		&__list {
			margin-bottom: 50px;
		}
	}
}

@media (max-width: 768px) {
	.market {
		margin-bottom: 60px;
		&__list {
			grid-template-columns: repeat(6, 1fr);
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
			margin-bottom: 40px;
		}
		&__item {
			gap: 30px;
		}
	}
}

@media (max-width: 480px) {
	.market {
		&__item {
			flex-direction: column;
		}
		&__list {
			margin-bottom: 30px;
		}
	}
}
