<section class="adv">
	<div class="container adv__container">
		<h2 class="title title__h2 adv__title">Преимущества платформы Roistat</h2>
		<ul class="list-reset adv__list">
			<li class="adv__item">
				<img
					src="./img/adv-icon-1.svg"
					class="image adv__icon"
					width="64"
					height="64"
					alt="Иконка преимущества"
				/>
				<h4 class="title title__h4 adv__title-item">Анализ рекламы по прибыли</h4>
				<p class="title title__subtitle adv__subtitle">
					Сквозная аналитика рекламы от показа до прибыли по каналам, кампаниям, объявлениям и ключам
				</p>
			</li>
			<li class="adv__item">
				<img
					src="./img/adv-icon-2.svg"
					class="image adv__icon"
					width="64"
					height="64"
					alt="Иконка преимущества"
				/>
				<h4 class="title title__h4 adv__title-item">Любые отчёты за пару минут</h4>
				<p class="title title__subtitle adv__subtitle">
					Отчёты по рекламе, товарам, менеджерам, регионам, устройствам и другие отчёты за пару кликов
				</p>
			</li>
			<li class="adv__item">
				<img
					src="./img/adv-icon-3.svg"
					class="image adv__icon"
					width="64"
					height="64"
					alt="Иконка преимущества"
				/>
				<h4 class="title title__h4 adv__title-item">Автоматизация рутинных задач</h4>
				<p class="title title__subtitle adv__subtitle">
					Сбор отчётов, анализ рекламы, управление ставками, постановка задач в CRM, прослушивание звонков
					автоматическиам
				</p>
			</li>
			<li class="adv__item">
				<img
					src="./img/adv-icon-4.svg"
					class="image adv__icon"
					width="64"
					height="64"
					alt="Иконка преимущества"
				/>
				<h4 class="title title__h4 adv__title-item">Виджеты для повышения конверсии сайта</h4>
				<p class="title title__subtitle adv__subtitle">
					Ловец лидов и онлайн-чат для сбора контактов на страницах сайта. Контроль работы менеджеров в чате
				</p>
			</li>
			<li class="adv__item">
				<img
					src="./img/adv-icon-5.svg"
					class="image adv__icon"
					width="64"
					height="64"
					alt="Иконка преимущества"
				/>
				<h4 class="title title__h4 adv__title-item">Отслеживание источников звонков и email</h4>
				<p class="title title__subtitle adv__subtitle">
					Коллтрекинг и email-трекинг для отслеживания источников заявок с точностью до ключа
				</p>
			</li>
			<li class="adv__item">
				<img
					src="./img/adv-icon-6.svg"
					class="image adv__icon"
					width="64"
					height="64"
					alt="Иконка преимущества"
				/>
				<h4 class="title title__h4 adv__title-item">Уведомления при изменении показателей</h4>
				<p class="title title__subtitle adv__subtitle">
					Оповещения в мессенджер при росте или падении ключевых показателей маркетинга и продаж
				</p>
			</li>
		</ul>
		<button class="btn-reset btn__primary adv__button">Попробовать бесплатно</button>
	</div>
</section>
