<section class="cases">
	<div class="container cases__container">
		<h2 class="title title__h2 cases__title">Кейсы наших клиентов</h2>
		<a class="cases__link" href="https://roistat.com/ru/integrations">
			Смотреть все кейсы
			<img src="./img/arrow-blue.svg" class="image cases__arrow" width="14" height="12" alt="Стрелка вправо" />
		</a>
		<div class="cases__list">
			<a href="https://roistat.com/rublog/kejs-hatimaki-jekonomim-27-reklamnogo-bjudzheta/" class="cases__item">
				<img
					src="./img/cases-image-1.webp"
					class="image cases__image"
					width="386"
					height="200"
					alt="Изображение кейса"
				/>
				<div class="cases__body">
					<div class="cases__row">
						<h3 class="title title__h3 cases__name">Хатимаки</h3>
						<h5 class="title title__h5 cases__type">Сеть ресторанов</h5>
						<p class="title cases__description">
							Исправили ошибки в данных, увидели отменённые заявки, которые не привели к продажам, и
							получили ROMI 437%
						</p>
					</div>
					<div class="cases__row">
						<h6 class="title cases__case">Стоимость продажи</h6>
						<h2 class="title cases__value">-27%</h2>
						<button class="btn-reset btn__secondary cases__button">
							Подробнее
							<img
								src="./img/arrow-blue.svg"
								class="image btn__arrow"
								width="14"
								height="12"
								alt="Стрелка вправо"
							/>
						</button>
					</div>
				</div>
			</a>
			<a
				href="https://roistat.com/rublog/kejs-tekstilnoj-fabriki-fabric-istorija-uspeha-v-nbsp-krizis/"
				class="cases__item"
			>
				<img
					src="./img/cases-image-2.webp"
					class="image cases__image"
					width="386"
					height="200"
					alt="Изображение кейса"
				/>
				<div class="cases__body">
					<div class="cases__row">
						<h3 class="title title__h3 cases__name">Fabric</h3>
						<h5 class="title title__h5 cases__type">Текстильная фабрика</h5>
						<p class="title cases__description">
							За месяц работы с Roistat снизили стоимость рекламного лида более, чем в 5,5 раз
						</p>
					</div>
					<div class="cases__row">
						<h6 class="title cases__case">Конверсия в заявку</h6>
						<h2 class="title cases__value">+413%</h2>
						<button class="btn-reset btn__secondary cases__button">
							Подробнее
							<img
								src="./img/arrow-blue.svg"
								class="image btn__arrow"
								width="14"
								height="12"
								alt="Стрелка вправо"
							/>
						</button>
					</div>
				</div>
			</a>
			<a href="https://roistat.com/rublog/vnedrenie-skvoznoy-analitiki-megagroup/" class="cases__item">
				<img
					src="./img/cases-image-3.png"
					class="image cases__image"
					width="386"
					height="200"
					alt="Изображение кейса"
				/>
				<div class="cases__body">
					<div class="cases__row">
						<h3 class="title title__h3 cases__name">Мегагрупп.ру</h3>
						<h5 class="title title__h5 cases__type">Веб-студия</h5>
						<p class="title cases__description">
							Оптимизировали рекламу и увеличили количество заявок в 2,7 раза, а продаж — в 5 раз.
						</p>
					</div>
					<div class="cases__row">
						<h6 class="title cases__case">Количество продаж</h6>
						<h2 class="title cases__value">х5</h2>
						<button class="btn-reset btn__secondary cases__button">
							Подробнее
							<img
								src="./img/arrow-blue.svg"
								class="image btn__arrow"
								width="14"
								height="12"
								alt="Стрелка вправо"
							/>
						</button>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
