<section class="clients">
	<div class="container clients__container">
		<h3 class="title title__h3 clients__title">
			30 000 компаний привлекли 100 миллионов клиентов в 2 раза дешевле с помощью Roistat
		</h3>
		<p class="title title__subtitle clients__subtitle">
			21 маркетинговый инструмент для аналитики, роста трафика, лидов, заявок и продаж поможет вам сократить
			нецелевые расходы и привлекать клиентов дешевле
		</p>
		<ul class="list-reset clients__list">
			<li class="clients__item">
				<img
					src="./img/clients-image-1.png"
					class="image clients__image"
					width="97"
					height="54"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-2.png"
					class="image clients__image"
					width="84"
					height="20"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-3.png"
					class="image clients__image"
					width="73"
					height="32"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-4.png"
					class="image clients__image"
					width="105"
					height="16"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-5.png"
					class="image clients__image"
					width="73"
					height="62"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-6.png"
					class="image clients__image"
					width="97"
					height="54"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-7.png"
					class="image clients__image"
					width="107"
					height="34"
					alt="Лого клиента"
				/>
			</li>
			<li class="clients__item">
				<img
					src="./img/clients-image-8.png"
					class="image clients__image"
					width="87"
					height="27"
					alt="Лого клиента"
				/>
			</li>
		</ul>
	</div>
</section>
