<section class="hero">
	<div class="container hero__container">
		<div class="hero__column">
			<h1 class="title title__h1 hero__title">Помогаем получить максимум прибыли от рекламы</h1>
			<p class="title title__subtitle hero__descr">
				Roistat — маркетинговая платформа, которая помогает привлекать больше трафика, увеличивать конверсию в
				заявки, повышать продажи и лояльность клиентов
			</p>
			<div class="hero__container-form">
				<form class="form hero__form">
					<input type="text" class="form__input" id="feedback-email" placeholder="Введите Email" />
					<button class="btn-reset btn__primary hero__button">
						Попробовать
						<img
							src="./img/arrow.svg"
							class="image btn__arrow form__arrow"
							width="14"
							height="12"
							alt="Стрелка вправо"
						/>
					</button>
				</form>
				<p class="title hero__descr-form">Пользуйтесь бесплатно 14 дней</p>
			</div>
		</div>
		<img src="./img/hero-image.png" class="image hero__image" width="757" height="656" alt="Главное изображение" />
	</div>
</section>
