<section class="integ">
	<div class="container integ__container">
		<div class="integ__body">
			<div class="integ__container-anim">
				<ul class="list-reset integ__list">
					<li class="integ__item">
						<img
							src="./img/integ-image-1.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-2.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-3.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-4.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-5.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-6.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-7.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-8.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-9.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-10.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-11.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-12.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-13.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-14.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-15.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-16.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-17.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-18.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-19.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-20.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-21.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-22.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-23.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-24.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-1.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-2.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-3.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-4.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-5.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-6.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-7.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-8.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-9.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-10.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-11.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-12.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-13.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-14.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-15.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-16.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-17.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-18.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-19.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-20.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-21.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-22.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-23.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
					<li class="integ__item">
						<img
							src="./img/integ-image-24.webp"
							class="image integ__image"
							width="120"
							height="40"
							alt="Интеграционный партнер"
						/>
					</li>
				</ul>
			</div>
			<div class="integ__column">
				<h2 class="title title__h2 integ__title">Более 200 готовых интеграций</h2>
				<p class="title title__subtitle integ__subtitle">
					Воспользуйтесь встроенными интеграциями с вашими сервисами для быстрого начала работы. Битрикс24,
					Яндекс.Директ, Tilda и другие системы доступны в каталоге интеграций Roistat
				</p>
				<a class="integ__link" href="https://roistat.com/ru/integrations">
					Посмотреть все интеграции
					<img
						src="./img/arrow-blue.svg"
						class="image integ__arrow"
						width="14"
						height="12"
						alt="Стрелка вправо"
					/>
				</a>
			</div>
		</div>
	</div>
</section>
