<section class="join">
	<div class="container join__container">
		<h2 class="title title__h2 join__title">Присоединяйтесь к Roistat в соцсетях</h2>
		<p class="title title__subtitle join__subtitle">
			Публикуем новости маркетинга и аналитики, анонсы мероприятий, рассказываем об обновлениях платформы Roistat
		</p>
		<div class="join__list">
			<a class="join__item" href="https://t.me/roistat_com">
				<img
					src="./img/join-image-1.svg"
					class="image join__image"
					width="32"
					height="32"
					alt="Иконка социальной сети"
				/>
				Telegram
			</a>
			<a class="join__item" href="https://t.me/roistat_com">
				<img
					src="./img/join-image-2.svg"
					class="image join__image"
					width="32"
					height="32"
					alt="Иконка социальной сети"
				/>
				ВКонтакте
			</a>
			<a class="join__item" href="https://t.me/roistat_com">
				<img
					src="./img/join-image-3.svg"
					class="image join__image"
					width="32"
					height="32"
					alt="Иконка социальной сети"
				/>
				YouTube
			</a>
		</div>
	</div>
</section>
