<section class="key">
	<div class="container key__container">
		<div class="key__body">
			<div class="key__column">
				<h2 class="title title__h2 key__title">Закажите интеграцию платформы Roistat под ключ</h2>
				<p class="title title__subtitle key__subtitle">
					Подключим к Roistat ваши рекламные кабинеты, сайт, CRM и другие сервисы, чтобы вы сэкономили время и
					получали точные данные c первого дня использования Roistat
				</p>
				<button class="btn-reset btn__primary key__button">Оставить заявку</button>
			</div>
			<img
				src="./img/key-image.webp"
				class="image key__image"
				width="624"
				height="480"
				alt="Изображение интеграции"
			/>
		</div>
	</div>
</section>
