<section class="market">
	<div class="container market__container">
		<h2 class="title title__h2 market__title">
			Используйте все возможности Roistat для&nbsp;повышения эффективности маркетинга
		</h2>
		<div class="market__list">
			<a href="https://roistat.com/ru/features/analytics" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-1.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Сквозная аналитика</h4>
					<p class="title title__subtitle market__subtitle">
						Отслеживайте показатели по онлайн- и офлайн-источникам от просмотров рекламы до прибыли с
						помощью отчетов
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/calltracking" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-2.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Коллтрекинг</h4>
					<p class="title title__subtitle market__subtitle">
						Анализируйте источники звонков с онлайн- и офлайн- рекламы
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/virtualnaya-ats" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-3.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Виртуальная АТС</h4>
					<p class="title title__subtitle market__subtitle">
						Принимайте и совершайте звонки через интернет и контролируйте качество работы операторов
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/speech-analytics" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-4.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Речевая аналитика</h4>
					<p class="title title__subtitle market__subtitle">
						Автоматически выявляйте проблемные звонки по 20+ показателям и повышайте лояльность клиентов
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/bid-manager" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-5.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Управление ставками</h4>
					<p class="title title__subtitle market__subtitle">
						Используйте автоматическое изменение ставок для повышения количества заявок и снижения их цены
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/email" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-6.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Email-рассылки</h4>
					<p class="title title__subtitle market__subtitle">
						Создавайте рассылки в удобном конструкторе и отслеживайте прибыль по ним
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/chat" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-7.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Онлайн-чат</h4>
					<p class="title title__subtitle market__subtitle">
						Помогайте посетителям сайта оставить заявку в формате чата
					</p>
				</div>
			</a>
			<a href="https://roistat.com/ru/features/lead-hunter" target="_blank" class="market__item">
				<div class="market__container-icon">
					<img
						src="./img/market-icon-8.svg"
						class="image market__icon"
						width="28"
						height="28"
						alt="Иконка маркета"
					/>
				</div>
				<div class="market__column">
					<h4 class="title title__h4 market__subtitle">Ловец лидов</h4>
					<p class="title title__subtitle market__subtitle">
						Получайте больше заявок с сайта с помощью всплывающей формы запроса контактов
					</p>
				</div>
			</a>
		</div>
		<button class="btn-reset btn__primary market__button">Попробовать бесплатно</button>
	</div>
</section>
