<section class="opp">
	<div class="container opp__container">
		<h2 class="title title__h2 opp__title">Возможности платформы Roistat</h2>
		<ul class="list-reset opp__list">
			<li class="opp__item opp__item-1">
				<div class="opp__column">
					<h3 class="title title__h3 opp__title-item">Сэкономьте на неэффективной рекламе</h3>
					<h5 class="title title__h5 opp__subtitle">
						Автоматически собирайте данные о рекламных расходах и выручке в одном окне. Узнайте, какая
						реклама приводит клиентов, а какая впустую тратит бюджет
					</h5>
					<h4 class="title opp__title-item-inner">Инструменты сквозной аналитики</h4>
					<ul class="list-reset opp__tools">
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-1.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Сквозная аналитика</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-2.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Мультиканальная аналитика</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-3.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">А/Б-тесты</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-4.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Коллтрекинг</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-5.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Когортный анализ</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-6.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Дашборд</h5>
						</li>
					</ul>
					<button class="btn-reset btn__primary opp__button">Попробовать бесплатно</button>
				</div>
				<img
					src="./img/opp-image-1.png"
					class="image opp__image"
					width="620"
					height="484"
					alt="Изображение возможности"
				/>
			</li>
			<li class="opp__item opp__item-2">
				<div class="opp__column">
					<h3 class="title title__h3 opp__title-item">Привлекайте больше трафика по меньшей стоимости</h3>
					<h5 class="title title__h5 opp__subtitle">
						Используйте интеллектуальное управление ставками и проверяйте настройки рекламы с помощью
						автоматического аудитора
					</h5>
					<h4 class="title opp__title-item-inner">Инструменты для роста трафика</h4>
					<ul class="list-reset opp__tools">
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-7.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Управление клиентами</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-8.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Аудитор рекламных компаний</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-8.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">SEO-аудитор</h5>
						</li>
					</ul>
					<button class="btn-reset btn__primary opp__button">Попробовать бесплатно</button>
				</div>
				<img
					src="./img/opp-image-2.png"
					class="image opp__image"
					width="620"
					height="484"
					alt="Изображение возможности"
				/>
			</li>
			<li class="opp__item opp__item-3">
				<div class="opp__column">
					<h3 class="title title__h3 opp__title-item">Увеличьте конверсию сайта</h3>
					<h5 class="title title__h5 opp__subtitle">
						Получайте контакты пользователей, которые собирались уйти с вашего сайта, с помощью ловца лидов.
						Помогайте потенциальным клиентам оставить заявку с помощью Онлайн-чата
					</h5>
					<h4 class="title opp__title-item-inner">Инструменты для роста лидов и заявок</h4>
					<ul class="list-reset opp__tools">
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-9.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Ловец лидов</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-10.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Онлайн-чат</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-8.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Мультивиджет</h5>
						</li>
					</ul>
					<button class="btn-reset btn__primary opp__button">Попробовать бесплатно</button>
				</div>
				<img
					src="./img/opp-image-3.png"
					class="image opp__image"
					width="620"
					height="484"
					alt="Изображение возможности"
				/>
			</li>
			<li class="opp__item opp__item-4">
				<div class="opp__column">
					<h3 class="title title__h3 opp__title-item">Увеличьте средний чек и повторные продажи</h3>
					<h5 class="title title__h5 opp__subtitle">
						Организуйте работу колл-центра и анализируйте работу операторов автоматически с помощью речевой
						аналитики. Создавайте и отправляйте email-рассылки по сегментам клиентов
					</h5>
					<h4 class="title opp__title-item-inner">Инструменты для роста продаж</h4>
					<ul class="list-reset opp__tools">
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-11.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Речевая аналитика</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-8.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Виртуальная ATC</h5>
						</li>
						<li class="opp__tool">
							<div class="opp__container-icon">
								<img
									src="./img/opp-icon-12.svg"
									class="image opp__icon"
									width="20"
									height="20"
									alt="Иконка инструмента"
								/>
							</div>
							<h5 class="title title__h5 opp__subtitle">Email-рассылки</h5>
						</li>
					</ul>
					<button class="btn-reset btn__primary opp__button">Попробовать бесплатно</button>
				</div>
				<img
					src="./img/opp-image-4.png"
					class="image opp__image"
					width="620"
					height="376"
					alt="Изображение возможности"
				/>
			</li>
		</ul>
	</div>
</section>
