<section class="roistat">
	<div class="container roistat__container">
		<div class="roistat__body">
			<div class="roistat__content">
				<div class="roistat__header">
					<h3 class="title roistat__title">Проверьте Roistat в деле</h3>
					<h4 class="title roistat__subtitle">Получайте больше клиентов, не увеличивая рекламный бюджет</h4>
				</div>
				<form class="form roistat__form">
					<input type="text" class="form__input" id="feedback-email" placeholder="Введите Email" />
					<button class="btn-reset btn__primary roistat__button">
						Попробовать
						<img
							src="./img/arrow.svg"
							class="image btn__arrow form__arrow"
							width="14"
							height="12"
							alt="Стрелка вправо"
						/>
					</button>
				</form>
			</div>
			<img
				src="./img/roistat-image-1.png"
				class="image roistat__image"
				width="593"
				height="476"
				alt="Изображение roistat"
			/>
		</div>
	</div>
</section>
