:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1320px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--real-black-color: #000;
	--black-color: #1e1e1e;
	--text-color: #474766;
	--subtitle-color: #808899;
	--descr-color: #a6acb7;
	--main-blue-color: #2589ff;
	--hover-blue-color: #489cff;
	--opp-background-color: #f5f9ff;
	--cases-text-color: #474766;
}
